body {
  background-color: rgb(231, 237, 237);
  margin: 0;
  font-family: sans-serif;
}

nav.nav-menu {
  display: flex;
  background-color: rgb(75, 75, 198);
  justify-content: space-between;
  color: white;
  padding: 1vh;
  margin: 0;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.nav-left li,
.nav-right li {
  border-right: 1px solid white;
  padding-bottom: 0;
}

.nav-left li a {
  padding-left: 1vh;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
  border: 1px;
  margin: 0;
  font-size: 1.4vw;
}

.nav-right li a {
  padding-left: 1vh;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
}

button#add-to-cart-header {
  background-color: rgb(75, 75, 198);
  border: none;
  font-size: 4vh;
  color: white;
}

li {
  list-style-type: none;
  padding: 2%;
  white-space: nowrap;
  border: 1px white;
  border-right: 1px solid white;
}

li:last-of-type {
  border-right: none;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

h1 {
  color: rgb(4, 4, 138);
  padding: 2%;
  margin: 0;
  font-size: 3vw;
}

search {
  display: flex;
  flex: 1;
}

[name="search-input"] {
  border: 0;
  border-bottom: 1px solid rgb(4, 4, 138);
  caret-color: black;
  height: 5vh;
  padding: 0 3%;
  flex: 1;
}

[name="search-input"]::placeholder {
  font-size: 1.4vw;
  align-items: center;
}

div a {
  display: flex;
  padding: 1% 1%;
  background-color: rgb(207, 10, 10);
  white-space: nowrap;
  color: white;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.75vw;
}

#cross-icon {
  font-size: small;
  color: black;
  display: none;
}

#search-btn {
  background-color: rgb(21, 21, 181);
  height: 5vh;
  width: 5vh;
  border: none;
  font-size: 1.4vw;
  padding-left: 0.5vw;
  color: white;
}

.container {
  display: flex;
  align-items: flex-start;
  margin-left: 2vh;
  background-color: rgb(231, 237, 237);
}

nav.categories {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 237, 237);
  padding-right: 1vh;
  gap: 0.5vh;
}

.categories > a {
  display: flex;
  flex: 2;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: rgb(75, 75, 198);
  margin: 0;
  padding: 1.5vh 8vh;
  text-align: start;
  padding-left: 1vw;
  font-size: 1.5vw;
  text-wrap: nowrap;
}

.categories > a:hover {
  background-color: rgb(4, 4, 111);
}

ul.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat (3, minmax(20px, 1fr));
  row-gap: 3vh;
  margin-right: 2vh;
  padding: 0;
  margin-top: 0;
}

.products li {
  margin-bottom: 1vh;
}

.products li:nth-last-child(-n + 3) {
  margin-bottom: 1.5vh;
}

h2 {
  display: block;
  background-color: rgb(75, 75, 198);
  padding: 3vh 0;
  color: white;
  text-align: start;
  padding-left: 2vh;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2vw;
}

li {
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  border: none;
}

img {
  box-sizing: border-box;
  height: 40%;
  width: 100%;
}

li p {
  text-wrap: wrap;
  padding: 0 1vh;
  font-size: 1.4vw;
  margin-top: 1.5vh;
  margin-bottom: 4vh;
}

.product-price > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(75, 75, 198);
  margin: 0;
  padding: 1vw 1vw;
  color: white;
}

p > button#add-to-cart {
  background-color: rgb(4, 4, 111);
  text-align: end;
  border: none;
  padding: 1.5vh;
  font-size: 1.7vw;
  color: white;
  border-radius: 50%;
}

#add-to-cart:hover {
  background-color: rgb(75, 75, 198);
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(75, 75, 198);
  gap: 13vh;
  text-align: left;
  padding: 3vh 0;
}

section > h2 {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid white;
  text-align: left;
  padding-bottom: 0.5vh;
  margin: 0;
  font-size: 2vw;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(75, 75, 198);
}

.footer-menu a {
  color: white;
  margin-top: 1vh;
  text-decoration: none;
  font-size: 1.25vw;
}

@media (max-width: 900px) {
  ul.products {
    grid-template-columns: repeat(2, 1fr);
  }
}
